.banner
{
  width: 100%;
  height: 490px;
  background-color: #F8F9F9;
}

.mainContent
{
  

  &__block
  {
    height: 100%;
    background-color: #ff5758;

    &-heading
    {
      color: #fff;
      text-transform: uppercase;
      font-family: "Passion One";
      font-size: 5rem;
    }

    &-2
    {
      height: 492.56px;
    }

    &-3
    {
      height: 492.81px;
    }
  }

  &__image
  {
    height: 100%;
  }
}

.cards
{
  margin: 2rem 0;
}

.card
{
  position: relative;
  height: 50rem;
  color: #fff;
  background-color: #FB8586;

  &__title
  {
    position: absolute;
  }

  &-1
  {
    position: relative;
    height: 50rem;
  }

  &-1::before
  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/card-fries.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s ease;
  }

  &-1:hover::before
  {
    filter: blur(5px);
  }

  &-3
  {
    background-image: url("../assets/card-burger.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-4
  {
    background-image: url("../assets/card-soda.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  // &:hover
  // {
  //   background-blend-mode: multiply;
  // }
}