*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Inter";
}

a
{
  color: #000;
  text-decoration: none;
}

ol, ul 
{
  list-style: none;
}

// $base-red: #ff5758;

.container
{
  margin: 0 2.5rem;
}